Options -Indexes

RewriteEngine On
RewriteBase /srx/

# Rediriger les requêtes de CV vers le contrôleur
RewriteRule ^uploads/cv/(.+)$ index.php?controller=uploads&action=cv&params[]=$1 [L,QSA]

# Si ce n'est pas un fichier
RewriteCond %{REQUEST_FILENAME} !-f
# Si ce n'est pas un répertoire
RewriteCond %{REQUEST_FILENAME} !-d
# Réécrire vers index.php
RewriteRule ^(.*)$ index.php [L,QSA]